<?xml version='1.0' encoding='utf-8'?>
<widget id="wat.wat.wat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GeoTag</name>
    <description>
        GeoTag application.
    </description>
    <author email="alyonabill3@mail.ru" href="https://vk.com/id347594107">
        AlphaOmega Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
